.registerContainer{
    width: 300px;
    height: 250px;
    padding: 20px;border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    color: slateblue;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-bottom: 20px;
}
.rbtn{
border: none;
padding: 5px;
border-radius: 5px;
color: white;
background-color: slateblue;
}
.sucsses{
    color: green;
    font-style: 12px;
    text-align: center;
}
.fail{
    color: red;
    font-style: 12px;
    text-align: center;
}